<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <!-- <h1>Hello from Electron</h1> -->
    <!-- page size= -->
    <div class="menu">
        <div class="file-options">
            <!-- grid clean-->
            <div id="new">NEW</div>
            <div id="save">SAVE</div>
            <div id="open">OPEN</div>
        </div>
        <div class="formatting">Format</div>
        <div class="alignment">Alignment</div>
    </div>
    <div class="formula-bar">
        <input type="text" id="address">
        <input type="text" id="formula">
    </div>
    <div class="main">
        <div class="top-left-box">top-left</div>
        <div class="top-row">
            <%for(let i=0;i<26;i++){%>
                <div class="cell">
                    <%=String.fromCharCode(i+65)%>
                </div>
                <%}%>
        </div>
        <div class="top-left-col">
            <%for(let j=1;j<=100;j++){%>
                <div class="cell">
                    <%=j%>
                </div>
                <%}%>
        </div>
        <div class="grid">
            <% for(let i=0; i <100; i++) {%>
                <div class="row">
                    <% for(let j=0; j < 26; j++) {%>
                        <div class="cell" contenteditable="true" cid=<%=j%> rid=<%=i%>>
                        </div>
                        <% }%>
                </div>
                <% } %>
        </div>
    </div>
    <script src="render.js"></script>

</body>

</html>